
<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class = "form-group">
    <div class="field">
      <%= f.text_field :title, class: "form-control", placeholder: "Title" %>
      <%= f.file_field :image, class: "form-control" %>
    </div>


    <div class="actions">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>

