<p id="notice"><%= notice %></p>
<div >
	<div class = "well well-sm"><h3>My Games</h3></div>
		<div class = "row">
			<div class = " col-md-3">
				<div onclick="location.href=' /games/new';" style="cursor: pointer;" class="game">
					<h1 class = "text-center"> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></h1>
				</div>
			</div>
		    <% @games.each do |game| %>
		    <div class = "col-md-3">
		    	
		    		<div class = "game text-center">
				      <p class = "game-text"><%= link_to game.title, game %></p>  
				        <%= link_to 'Edit', edit_game_path(game), class: "btn btn-primary btn-sm" %>
				        <%= link_to 'Delete', game, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary btn-sm" %> 
				    </div> <!-- /game -->
		     </div> <!-- /col-md-3 -->
		    <% end %>

		</div> <!-- /row -->
	<br>
</div>