<p id="notice"><%= notice %></p>
<div >
	<div class = "row ">
		<div class = "col-md-12 cover-img">
			<div class = "layer"></div>
			<%= image_tag @game.image.url %>
		</div>
	</div>

	<div class = "row">
		<div class = "col-md-12">
			<h3><%= @game.title %>
			<%= link_to 'Edit', edit_game_path(@game), class: "btn btn-primary" %>
			<%= link_to 'Back', games_path, class: "btn btn-primary"  %></h3>
		</div>
	</div>

	<div class = "row">
		<div class= "col-md-12" >
			<ul class="nav nav-tabs nav-justified" role="tablist">
			    <li role="presentation" class="active"><a href="#entries" aria-controls="entries" role="tab" data-toggle="tab">Entries</a></li>
			    <li role="presentation"><a href="#characters" aria-controls="characters" role="tab" data-toggle="tab">Characters</a></li>
			    <li role="presentation"><a href="#lore" aria-controls="lore" role="tab" data-toggle="tab">Lore</a></li>
			    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
		  </ul>
		<div class="tab-content game-content">
		    <div role="tabpanel" class="tab-pane active" id="entries">
		    	<%= render "posts/form" %>
		    	<%= render @game.posts %>
		    </div>
		    <div role="tabpanel" class="tab-pane" id="characters">
		    	<%= render "characters/form" %>
		    	<%= render @game.characters %>

		    </div>
		    <div role="tabpanel" class="tab-pane" id="lore"><p>Lore</p></div>
		    <div role="tabpanel" class="tab-pane" id="settings">...</div>
		  </div> <!-- tab-content -->
		  	
		</div>	<!-- div-nav-tabs -->
	</div><!-- row -->
</div>