<div class = "game-content">
	<div class = "row">
		<div class = "col-md-2 post">
			<%= image_tag character.image.url %>
			<%= link_to 'Delete', [character.game, character],
		               method: :delete, 
		               data: { confirm: 'Are you sure?' }, class: "btn btn-primary btn-block" %>
		    <%= link_to 'Edit', edit_game_character_path(character.game, character), class: "btn btn-primary btn-block" %>
		</div>
		<div class = "col-md-10">
			<p>
			  <h2><%= character.name %></h2>
			</p>
			 
			<p>
			  <strong>Notes:</strong>
			  <%= character.bio %>
			</p>
			
		</div>
	</div>
</div>