<div class = "form-group">
  <%= form_for [@game, @character] do |f| %>
    <p>
      <%= f.text_field :name ,class: "form-control", placeholder: "Name" %>
    </p>
    <p>
      <%= f.text_area :bio , class: "form-control", placeholder: "Notes" %>
    </p>
    <%= f.label :image , class: "form-control" %>
      <%= f.file_field :image, class: "form-control" %>
    <p>
      <%= f.submit class: "btn btn-primary btn-block" %>
    </p>
  <% end %>
</div>