<%= form_for [@game, @post] do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class = "form-group">
    <div class="field">
      <%= f.text_area :content, class: "form-control" , placeholder: "Tell us what you did!" %>
    </div>
  </div>  
      <%= f.submit class: "btn btn-primary form-control" %>
  <% end %>
