<div class = "game-content">
	<div class = "row">
		<div class= "col-md-2 post">
			<h2 class="text-center"><%= post.created_at.strftime("%b") %><br>
			<%= post.created_at.strftime("%d") %></h2>

				<%= link_to 'Delete', [post.game, post],
		               method: :delete, 
		               data: { confirm: 'Are you sure?' }, class: "btn btn-primary btn-block" %>
			</div>
		
		<div class = "col-md-10">
			<p><%= post.content %>
			</p>
		</div>
	</div>	
</div>
