<!DOCTYPE html>
<html>
<head>
  <title>GameJournal</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class = "container">
		<% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>

		<div class = "center-div screen">
			<div class= "navbar"> 
				<%= link_to "Home", root_path, class: "btn navbar-brand" %>

			</div>
			<%= yield %>
			<nav class="navbar navbar-default navbar-fixed-bottom">
  				<div class="container">
			    <a href="#" id="font-link">Change font! </a>
			  	</div>
			</nav>
		</div>
	</div>
</body>
</html>
